{{!-- The following welcome message is a placeholder. --}}
<div class="container">
  <h1>Spring Boot Ember Starter</h1>
  <p>I'm an embedded Ember SPA within Java Spring Boot, ain't that swish!</p>
</div>
{{!-- remove this! --}}

{{outlet}}